{% extends "base.html" %}
{% load static %}
{% block title %}
{% endblock title %}


{% block content %}
<div class="container pt-0">
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">            
            <div class="card mb-2">
                <div class="card-header">
                    <p class="text-center">{{request.user}}</p>
                </div>
                <div class="card-body back-ground">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="col-12 d-flex justify-content-center ">
                                <p>{{post.title}}</p>
                            </div>
                            <div>
                                <p class="mt-3 mb-3 text-center">{{post.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-center">{{post.created}}</p>
                    {% if post.author == user %}
                    <a href="{% url 'post:post_edit' post.slug %}">
                        <button class="btn btn-primary">Editar</button>
                    </a>
                    <a href="{% url 'post:post_delete' post.slug %}" action="/">
                        <button class="btn btn-danger">Deletar</button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}